.board {
  color: green;
  margin: auto;
  text-align: center;
  font-size: 50px;
}

.grid {
  margin: auto;
}

table {
  table-layout: fixed;
}

td {
  width: 1000px;
}

.virtualPlaceholder {
    display: inline-block;
    height:200px;
    width:200px;
    background:#4d8cf2;
}